
#Eli{
    width:370px;
    height:250px;
    align-items:left;
}
#banner{
    width:100%;
    height: 200px;
}
#Fabian{
    width:370px;
    height:250px; 
    align-items:left;
}
#Dylan{
    width:370px;
    height:250px;
    align-items:left;
}
#AboutUs{
    float:left;
    border-style:solid;
    border: black;
    border-width:5px;
    width:650px;
    padding-left:1%;
    
    
    
}


#MissionStatement{
    float:right;
    border-style:solid;
    border: black;
    border-width:5px;
    width:650px;
    padding-right:1%;
    
}
#footer{
    position:absolute; bottom: -1000px;
    border-style:solid;
    border:red;
    border-width:5px;
}

.moviesH1{
    text-align: center;
    margin: 10px 0;
    color:black;
  }
  
  .moviesH4{
    text-align: center;
    margin: 10px 0;
  }

  .navbar{
    border-radius: 0px;
  }
  p{
    color: black;
  }
  h2{
    color: black;
  }